.outer-container {

    height: 100vh;
    width: 100vw;
}


.left-part {
    background-color: white;
    z-index: 2;
    position: absolute;
    width: 50vw;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.right-part {
    background-color: transparent;
    z-index: 11;
    position: absolute;
    width: 50vw;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    overflow: hidden!important;
    height: 100vh;
    background-color: white;
    background-image: url('../abstract.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay-right {
    background-color: transparent;
    z-index: 100;
    position: absolute;
    width: 50vw;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex; 
    align-items: center;
    overflow: hidden!important;
    height: 100vh;
    justify-content: center;
}

.overlay-right div {
    left: -50vw;
    right: 0;
    display: flex;
    color: white;
    position: absolute;
    font-size: 8rem;
    letter-spacing: 2px;
    margin: 0 auto;
    font-weight: 700;
    width: 100vw;
    text-align: center!important;
    justify-content: center;
    align-items: center;
}


#text svg {
    height: 3rem;
    width: 3rem;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}

.title h1 {
    color: white;
    font-size: 8rem;
    letter-spacing:2px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.title h1 span {
    background-image: url('../abstract.jpg');
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: left left;
    background-size: cover;
    background-repeat: no-repeat;
    display:block;
}

.title h1 svg {
    height: 3rem;
    width: 3rem;
    display: flex;
    margin: 0 auto;
}


.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 80px;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    padding-right: 2rem;
    padding-left: 2rem;
}
.navbar .logo {
    font-size: 3rem;
    font-weight: 800;
}
.navbar > div {
    padding: 0 30px;
    font-size: 25px;
  }

  .navbar .menu {
    margin-right: auto;
    font-weight: 700;
  }

  .navbar .search {
      color: white;
      font-weight: 700;
  }
  
  .navbar .lang {
      color: white;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .art-title {
      z-index: 100000;
      width: 40%;
      display: flex;
      font-size: 30px;
      justify-content: center;
      position: absolute;
      bottom: 13rem;
      font-weight: 800;
  }
  
  .menu-title {
      width: 50%;
      position: absolute;
      bottom: 5rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      z-index: 100000;
  }

  .menu-title span {
      display: flex;
      font-weight: 800;
      font-size: 14px;
  }

  .page-title {
    width: 25%;
    position: absolute;
    right: 0;
    bottom: 5rem;
    z-index: 100000;
  }

  .page-sub {
      color: white;
      width: 100%;
      display: flex;
      justify-content: center;
      font-weight: 800;
      font-size: 2rem;
    margin-bottom: 0.3rem;
  }